// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components

// Example: @import "./components/message.scss";

// Screens

// Example: @import "./screens/search.scss";

// Defaults

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes show-slide {
  0% {
    right: 0;
    width: 25px;
  }
  100% {
    right: 0;
    width: 500px;
  }
}

@keyframes hide-slide {
  0% {
    right: 0;
    width: 500px;
  }
  100% {
    right: 0;
    width: 25px;
  }
}

header,
footer {
  height: 50px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg;
  color: white;
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;

  .song-lists {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(14, 15, 36);
    .song-item:nth-child(2n) {
      background-color: rgb(40, 38, 49);
    }
    .song-item {
      display: flex;
      width: 100%;
      padding: 10px;
      cursor: pointer;

      .song-ranking {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        h1 {
          font-size: 1.8rem;
        }
        margin: 0 10px;
      }

      .song-content {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .song-img {
          margin: 0 10px;
        }
        .song-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          h2 {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  aside#player {
    // display: none;
    // width: 500px;
    background-color: inherit;
    position: fixed;
    top: calc(100vh - 75%);
    animation-duration: 0.8s;
    height: 360px;
    display: flex;
    right: -500px;

    button#player-slider {
      cursor: pointer;
    }

    button#player-slider::before {
      content: "<";
    }
    &.show {
      animation-name: show-slide;
      right: 0;
      display: flex;
      button#player-slider::before {
        content: ">";
      }
    }
    &.hide {
      animation-name: hide-slide;
      right: -500px;
      button#player-slider::before {
        content: "<";
      }
    }

    section:first-child {
      background-color: rgba($color: #000000, $alpha: 0);
      display: flex;
      align-items: center;

      button {
        width: 25px;
        height: 65px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
    }

    section:last-child {
      background-color: tomato;
    }

    p#yt-player {
      width: 500px;
      height: 360px;
    }
  }
}
