aside(id="player" class="hide")
    div(class="player-header")
        button(id="player-close")
            span X
    div(class="player-body")
        p(id="yt-player")
    div(class="player-footer")