aside(id="player" class="")
    section 
        button(type="button",id="player-slider")
    section
        div(class="player-header")
            p(id="yt-player")
        div(class="player-body")
            p(id="player-controller")
                button(type="button" class="btn-control")="<<"
                button(type="button" class="btn-control")="||"
                button(type="button" class="btn-control")=">"
                button(type="button" class="btn-control")=">>"
        div(class="player-footer")
            p(id="player-list")